[include]
path = ~/.gitconfig.local

[user]
# Please adapt and uncomment the following lines:
name = Steffen Tautenhahn
email = stevie-@users.noreply.github.com
signingkey = 18BA6478196A2A15
[pull]
rebase = true
[rebase]
autoStash = true
[push]
default = current
[fetch]
prune = true
[commit]
gpgsign = true
[init]
defaultBranch = main

# Use git+ssh instead of https
[url "git@github.com:"]
insteadOf = "https://github.com/"
